

<div class="txtHeader">
  <h1>Our Services</h1>
  <p>text text text</p>
</div>

<mat-divider></mat-divider>

<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Website Development<br/>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxFlex fxLayout fxLayoutAlign="center"> 
      <img class="img" src="../../assets/twowaystoearn.jpg" >
    </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          App Development<br/>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxFlex fxLayout fxLayoutAlign="center"> 
      <img class="img" src="../../assets/twowaystoearn.jpg" >
    </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
        Workforce Management - Scheduling - Human Captial Consulting<br/>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxFlex fxLayout fxLayoutAlign="center"> 
      <img class="img" src="../../assets/twowaystoearn.jpg" >
    </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Effective Demoenstrations & Presenting Tatics and Strategies<br/>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxFlex fxLayout fxLayoutAlign="center"> 
      <img class="img" src="../../assets/twowaystoearn.jpg" >
    </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Social Media Marketing<br/>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxFlex fxLayout fxLayoutAlign="center"> 
      <img class="img" src="../../assets/twowaystoearn.jpg" >
    </div>
    </mat-expansion-panel>
  </mat-accordion>
