<mat-toolbar>
    <span>{{prospects.form.controls['$key'].value?"Modify Prospect":"New Prospect"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup]="prospects.form" 
(submit)="onSubmit()"
fxLayout="row" 
fxLayoutAlign="center center" 
fxLayoutGap="10px"
class="normal-form">
<!-- <mat-grid-list cols="2" rowHeight="500px"> -->

<!-- <mat-grid-tile> -->
<div class="controles-container">
<input type="hidden" formControlName="$key">
    <mat-form-field>
    <input formControlName="fullName"  matInput placeholder="Full Name">
    <mat-error>This field is mandatory</mat-error>
    </mat-form-field>
<mat-form-field>
    <input formControlName="email" matInput placeholder="Email">
    <mat-error>Invalid email <address></address></mat-error>
    <mat-error>This field is mandatory</mat-error>
</mat-form-field>
<mat-form-field>
        <input formControlName="phone" matInput placeholder="Phone">
        <mat-error *ngIf="prospects.form.controls['phone'].errors?.required">This field is mandatory</mat-error>
        <mat-error *ngIf="prospects.form.controls['phone'].errors?.minlength">Minimum 8 characters needed</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select formControlName="location" placeholder="Location">
            <mat-option></mat-option>
            <ng-container *ngFor="let locations of prosLocationService.array">
                <mat-option value="{{locations.$key}}">{{locations.name}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
        <mat-form-field>
            <input formControlName="projectDueDate" matInput [matDatepicker]="picker" placeholder="Project Due Date">
            <mat-error>This field is mandatory</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <textarea formControlName="projectDesc" matInput placeholder="Project Description"></textarea>
        <mat-error *ngIf="prospects.form.controls['projectDesc'].errors?.required">This field is mandatory</mat-error>
        <mat-error *ngIf="prospects.form.controls['projectDesc'].errors?.maxlength">Maximum of 250 characters</mat-error> 
    </mat-form-field>
    <mat-form-field>
        <input formControlName="budget" matInput placeholder="Budget" type="number" class="right-align">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="prospects.form.invalid">Submit</button>
        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    </div>
            </div>
        

  <!-- </mat-grid-tile> -->
<!-- </mat-grid-list> -->
</form>







